@import '../../styles/var.scss';

.form {
  background-color: transparent;
  margin: 2rem auto;
  width: 50vw;


  &-title {
    color: $color-dark;
  }

  .form-group {
    border: 1px solid $dark-gray;
    background-color: $color-light;
    padding: 0.8rem 1rem 0.6rem 1rem;


    label {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      color: $dark-gray;
    }

    input[required]~label>sup {
      color: $color-red !important;
    }

    .form-control,
    input,
    select {
      background-color: white;
      border: none;
      height: 30px;
      width: 100%;
    }

    .is-invalid {
      color: $color-red;
    }

    margin-bottom: 0.8rem;
  }

  .form-group-inline {
    width: 32%;
    display: inline-block;
    margin-left: 1% ;
  }

  button {
    background-color: $color-blue;
    color: $color-light;
    font-size: 1rem;
    border: none;
    padding: 0.8rem 1.2rem;
  }
}

@media (max-width: 40rem) {
  .form {
    width: 95%;
  }
}