@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400');

$body-font-size: 0.8rem;


html {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: $body-font-size;
}
