@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400');

$body-font-size: 0.8rem;
$color-blue: #04b9ff;
$color-green: #01eab5;
$light-gray: #F3F4F7;
$dark-gray: #c2c2c2;
$color-dark: #5a4363;
$color-purple: #a387d5;
$color-light: #fff;
$color-red: #FC546B;





