$primary : #00A1F1;

html {
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  *:focus {
    outline: none;
  }

  @import '_var';
  @import '_auth';
  @import '_footer';
  @import '_form';
  @import '_header';
  @import '_home';
  @import '_layout';
  @import '_sidebar';
  @import '_summaryCard';
  @import '_tab';
  @import '_updates';


  



  body {
    font-family: 'Roboto',
      sans-serif;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    font-size: $body-font-size;
    background-color: $light-gray;
    margin: 0;
    padding: 0;
  }
}